RaspberryPiScripts/NodeRedFlow
[{"id":"18588f88.387a3","type":"inject","z":"b33c93d8.7e8e","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"x":170,"y":240,"wires":[["c01c397c.e53778"]]},{"id":"c01c397c.e53778","type":"exec","z":"b33c93d8.7e8e","command":"./checkBeacons.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":434.5,"y":263.5,"wires":[["c1dd4e8e.e55eb"],[],[]]},{"id":"c1dd4e8e.e55eb","type":"debug","z":"b33c93d8.7e8e","name":"","active":true,"console":"false","complete":"false","x":726.5,"y":184,"wires":[]}]
